.kont{
	width: 98.8%;
	height: 280px;
	background-color: #9ac2ff;
	margin-top: 20px;
	margin-bottom: 50px;
	margin: 0px auto 0px;
	position: fixed;
}

.obj-kont-1{
	width: 100%;
	height:63px;
	background-image: url(../img/jalan.png);
	background-position:center;
	background-repeat: repeat;
	position: absolute;
	top: 216px;
	z-index: 2;
	-moz-animation: kont-1 2s infinite linear;
	-webkit-animation: kont-1 2s infinite linear;
	animation: kont-1 2s infinite linear;
}

@-moz-keyframes kont-1 {
	from { background-position: 0 0; }
	to {background-position: -190px 0;}
}

@-webkit-keyframes kont-1 {
	from { background-position: 0 0; }
	to {background-position: -190px 0;}
}

.obj-kont-2{
	width: 100%;
	height: 182px;
	background-image: url(../img/gedung.png);
	background-position:bottom;
	position:absolute;
	top :35px;
	z-index: 2;
	-moz-animation:kont-2 13s infinite linear;
	-webkit-animation:kont-2 13s infinite linear;
	animation: kont-2 13s infinite linear;
}

@-moz-keyframes kont-2{
	from{background-position: 0 0;}
	to {background-position: -400px 0;}
}

@-webkit-keyframes kont-2{
	from{background-position: 0 0;}
	to {background-position: -400px 0;}
}

.obj-kont-3{
	width: 150px;
	height: 63px;
	background-image: url(../img/super.png);
	position: absolute; 
	top:100px;
	left: 40%;
	z-index:2;
	-moz-animation:kont-3 5s infinite linear;
	-webkit-animation:kont-3 5s infinite linear;
	animation: kont-3 13s infinite linear;
}

@-moz-keyframes kont-3{
	0%{top: 20px;}
	50%{top: 42px;}
	100%{top: 20px;}
}

@-webkit-keyframes kont-3{
	0%{top: 20px;}
	50%{top: 42px;}
	100%{top: 20px;}	
}

.index{
	width: 200px;
	height: 25px;
	background-color: red;
	color: blue;
	text-align: center;
	margin-top: 50px;
	margin: auto;
}










